@use "base/variables";
@use "base/mixins";

/* css section restaurents small devices*/

.restaurants {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: variables.$grey-light;

  &__tittle {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  &__list {
    justify-content: space-around;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 2rem;
  box-shadow: 4px 4px 4px variables.$grey;
  background-color: variables.$white;
  margin-bottom: 2rem;

  &__header {
    height: 17.5rem;
    position: relative;

    img {
      border-radius: 2rem 2rem 0rem 0rem;
      position: relative;
      z-index: 1;
      height: 17.5rem;
      object-fit: cover;
      object-position: bottom;
      width: 100%;
    }
    .note {
      object-position: 50% 60%;
    }

    &__tag {
      background-color: variables.$tertiary;
      color: #028665;
      font-size: 1.3rem;
      font-weight: bold;
      border: none;
      border-radius: 5%;
      padding: 0.7rem;
      position: absolute;
      z-index: 2;
      right: 3%;
      top: 5%;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: variables.$black;

    &__info {
      height: 7.5rem;
      padding: 0rem 1rem 0rem 1.5rem;

      span {
        font-weight: bold;
      }
      p {
        line-height: 2.4rem;
      }
    }

    &__heart {
      @include mixins.heart;
    }
  }
}
