@use "variables";

@mixin small_device {
  @media (min-width: variables.$small) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: variables.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: variables.$desktop) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: variables.$large-screen) {
    @content;
  }
}

/*code for button submit */
@mixin btn-submit {
  font-size: 1.6rem;
  color: variables.$white;
  background: linear-gradient(variables.$secondary, variables.$primary);
  border: none;
  border-radius: 30px;
  box-shadow: 4px 4px 4px variables.$grey-dark;
  width: 20rem;
  height: 5rem;
  cursor: pointer;
  display: inline-block;
  margin-top: 1.6rem;
  position: relative;
  z-index: 1;
  /*lighter color of button et darker box-shadow when mouse hover*/
  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      lighten(variables.$secondary, 5),
      lighten(variables.$primary, 5)
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
    box-shadow: 5px 5px 5px variables.$grey-dark;
  }
}

/*code for animation heart*/
@mixin heart {
  width: 20%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .fa-heart {
    /*heart empty*/
    font-size: 2.4rem;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: variables.$black;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;

    /*color heart when mouse hover*/
    &:hover {
      &::after {
        opacity: 1;
        transition: opacity 1s ease-out;
        transform: translateY(0%);
        overflow: hidden;
      }
    }

    /*animation color heart*/
    &::after {
      content: "\f004";
      font-size: 2.4rem;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1.3px;
      -webkit-text-stroke-color: transparent;
      background: linear-gradient(variables.$primary, variables.$secondary);
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      transition: transform 3s ease-out;
      transform: translateY(100%);
      overflow: hidden;
    }
  }
}
