@use "variables";

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: variables.$primary;
}

.underlined {
  padding-bottom: 3px;
  border-bottom: 3px solid variables.$tertiary;
  width: 4rem;
  margin: 2rem;
}
