@use "base/variables";
@use "base/mixins";

/* css header small devices*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px variables.$grey;

  &__logo {
    width: 16rem;
    padding-top: 2.2rem;
    padding-bottom: 1.5rem;
  }

  &__menu {
    @extend .header;
    position: relative;

    &__back {
      position: absolute;
      left: 1.5rem;

      .fa-arrow-left {
        font-size: 2rem;
        color: variables.$black;
      }
    }
  }

  @include mixins.tablet {
    flex-direction: row;
    justify-content: space-around;
  }

  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-around;
  }
}
