@use "base/variables";
@use "base/mixins";
@use "base/utilities";

/* css pages menus small devices*/

.menu {
  background-color: variables.$grey-light;

  &__starter,
  &__main-course,
  &__dessert,
  &__submit {
    padding-bottom: 1rem;
    opacity: 1;
  }

  p {
    font-size: 1.4rem;
  }

  &__head {
    max-height: 50rem;

    &__img {
      height: 33rem;
      width: 100%;
      object-fit: cover;
      object-position: center 60%;
    }
    &__name {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 4.1rem;
      padding-left: 0.7rem;
      border-radius: 50px 50px 0 0;
      position: relative;
      margin-top: -8rem;
      background-color: variables.$grey-light;
      font-family: variables.$font_secondary;

      @include mixins.desktop {
        justify-content: center;
        margin-bottom: 2rem;
      }

      &__heart {
        @include mixins.heart;
      }
    }
  }
  /*css button to order*/
  &__submit {
    display: flex;
    justify-content: center;
    padding: 1rem 0 6rem 0;

    &__btn {
      @include mixins.btn-submit;
    }
  }
}
/*css menu cards */
.order {
  display: flex;
  flex-direction: row;
  border-radius: 1.5rem;
  background-color: variables.$white;
  box-shadow: 0px 3px 5px 0px variables.$grey;
  cursor: pointer;
  overflow: hidden;
  margin: 1.2rem;
  height: 7rem;
  @include mixins.desktop;
  @include mixins.tablet {
    width: 35rem;
  }

  /*animation checked card when mouse hover */
  &:hover {
    /*text stretching */
    .order__info {
      width: 62%;
      transition: all 400ms ease-in-out;
    }
    .order__checked {
      width: 20%;
      transform: translateX(0%);
      .fa {
        transform: rotate(360deg);
        opacity: 1;
      }
    }
  }

  &__info {
    padding: 1.2rem;
    width: 82%;

    h3,
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__price {
    width: 18%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1.2rem;
  }

  &__checked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$tertiary;
    border-radius: 0 1.5rem 1.5rem 0;
    width: 0%;
    transition: all 400ms ease-in-out;

    .fa {
      font-size: 2rem;
      color: variables.$white;
      opacity: 0;
      transition: all 400ms 100ms ease-in-out;
    }
  }
}

/*animation for fading-in menu cards one by one with delay*/
@for $i from 1 through 10 {
  .order-#{$i} {
    opacity: 0;
    animation: fadeIn 300ms ease-in-out forwards;
    animation-delay: 200ms * $i;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
  }
}
/*css only for large screen and tablet */
.container {
  @include mixins.desktop;
  @include mixins.tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
  }
}
